<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body style="font-family:arial, sans-serif">

  <h1>ECOMMERCE DATA</h1>

  <div class="filters">

  </div>


  <div class="cards"> 

    <div class="totalOrders card-box">
        {{ card['orders'] }}
    </div>
    <div class="totalSales card-box">
        {{ card['sales'] }}
    </div>

  </div>


  <div id='charts' class='charts'>

    <div class='productChart' id='productChart'>  </div>

  </div>



</body>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{ product_plot | safe }};
    Plotly.plot('productChart', graphs, {});
</script>
</html>