<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body style="font-family:arial, sans-serif">

  <h1>ECOMMERCE DATA</h1>

  <div class="cards"> 

    <div class="totalOrders card-box">
        {{ card['orders'] }}
    </div>
    <div class="totalSales card-box">
        {{ card['sales'] }}
    </div>
    <div class="totalCustomers card-box">
      {{ card['customers'] }}
    </div>
    <div class="totalProducts card-box">
      {{ card['products'] }}
    </div>

  </div>


  <div id='charts' class='charts'>

    <div class='productChart' id='productChart'>  </div>
    <div class="paymentChart" id="paymentChart"> </div>

  </div>

  <div id='charts2' class='charts2'>
    <div class="revenueGrowthChart" id="revenueGrowthChart"> </div>
  </div>



</body>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    var graphs = {{ product_plot | safe }};
    Plotly.plot('productChart', graphs, {});

    var graphs2 = {{ payment_type_plot | safe }};
    Plotly.plot('paymentChart', graphs2, {});

    var graphs3 = {{ revenue_growth_plot | safe }};
    Plotly.plot('revenueGrowthChart', graphs3, {});
</script>
</html>